In [ ]:
Q1

Boolean datatype can take two values either True or False.
eg. a=True
    b=False

In [ ]:
Q2

Following are the three types of boolean operators
1) and
2) or
3) not

In [ ]:
Q3

Truth table for and operator:
    True and True--------->True
    True and False-------->False
    False and False------->False
    False and True-------->False
    
Truth table for or operator:
    True or True--------->True
    True or False-------->True
    False or False------->False
    False or True-------->True
    
Truth table for not operator:
    not True------------->False
    not False------------>True

In [ ]:
Q4

1) True
2) False
3) True
4) False
5) False
6) True

In [ ]:
Q5

1) >  greater than
2) <  less than
3) >= greater than equal to
4) <= less than equal to
5) == is equal
6) != is not equal

In [ ]:
Q6

The equal to operator is used to check if values of two variables are equal or not.It returns true if the values are equal and False if the values are unequal whereas the assignment operator is used to assign value to a varible
equal to operator can be used in if else checking conditions but not assignment operator 
1)use assignment operator to store the value in variable
2)use equal to operator to compare the value stored in variable with another variable

In [ ]:
Q7

#Block1
if spam==10:
    print('eggs')
    
#Block2
if spam>5:
    print('bacon')

#Block3
else:
    print('ham')
    print('spam')
    print('spam')

In [ ]:
Q8

spam=int(input())
if spam==1:
    print("Hello")
elif spam==2:
    print("Howdy")
else:
    print("Greetings!")

In [ ]:
Q9

Press Ctrl+C to abort the running pogram

In [ ]:
Q10 

1)break statement pass the control outside the block of inner loop where it is mentioned.
2)continue statement pass the control to the next iteration of the inner loop where it is mentioned.

In [ ]:
Q11

range(10):
    It will generate the sequence from 0 to 9. Here 0 is defualt start value, 10 represents final value and 1 is defualt step size so the sequence is generated from start value till the final value-1 with given step size
range(0,10):
    It will generate the sequence from 0 to 9. Here 0 and 10 represents start value and final value respectively and 1 is defualt step size so the sequence is generated from start value till the final value-1 with given step size
range(0,10,1):
    It will generate the sequence from 0 to 9. Here 0,10 and 1 represents start value,final value and step size rspectively so the sequence is generated from start value till the final value-1 with given step size

In [ ]:
Q12

#Using for loop
for i in range(1,11):
    print(i)
    
#Using while loop
i=1
while(i<=10):
    print(i)
    i=i+1

In [ ]:
Q13

spam.bacon()