In [5]:
Q1

print('Enter kilometers')
k=float(input())
print('%.2f kilometers are %.2f miles'%(k,k/1.609))

Enter kilometers
1.5
1.50 kilometers are 0.93 miles

In [6]:
Q2

print('Enter fahrenheits')
f=float(input())
c=(f-32)*(5/9)
print('%.2f fahrenheits are %.2f Celsius'%(f,c))

Enter fahrenheits
59.5
59.50 fahrenheits are 15.28 Celsius

In [18]:
Q3

from calendar import *
print("Calender of the year 2023")
print(calendar(2023,1,1,7,3))

Calender of the year 2023
                                   2023

      January                    February                    March
Mo Tu We Th Fr Sa Su       Mo Tu We Th Fr Sa Su       Mo Tu We Th Fr Sa Su
                   1              1  2  3  4  5              1  2  3  4  5
 2  3  4  5  6  7  8        6  7  8  9 10 11 12        6  7  8  9 10 11 12
 9 10 11 12 13 14 15       13 14 15 16 17 18 19       13 14 15 16 17 18 19
16 17 18 19 20 21 22       20 21 22 23 24 25 26       20 21 22 23 24 25 26
23 24 25 26 27 28 29       27 28                      27 28 29 30 31
30 31

       April                       May                        June
Mo Tu We Th Fr Sa Su       Mo Tu We Th Fr Sa Su       Mo Tu We Th Fr Sa Su
                1  2        1  2  3  4  5  6  7                 1  2  3  4
 3  4  5  6  7  8  9        8  9 10 11 12 13 14        5  6  7  8  9 10 11
10 11 12 13 14 15 16       15 16 17 18 19 20 21       12 13 14 15 16 17 18
17 18 19 20 21 22 23       22 23 24 25 26 27 28       19 20 21 22 23 24 25
24 25 26 27 28 29 30       29 30 31                   26 27 28 29 30

        July                      August                   September
Mo Tu We Th Fr Sa Su       Mo Tu We Th Fr Sa Su       Mo Tu We Th Fr Sa Su
                1  2           1  2  3  4  5  6                    1  2  3
 3  4  5  6  7  8  9        7  8  9 10 11 12 13        4  5  6  7  8  9 10
10 11 12 13 14 15 16       14 15 16 17 18 19 20       11 12 13 14 15 16 17
17 18 19 20 21 22 23       21 22 23 24 25 26 27       18 19 20 21 22 23 24
24 25 26 27 28 29 30       28 29 30 31                25 26 27 28 29 30
31

      October                    November                   December
Mo Tu We Th Fr Sa Su       Mo Tu We Th Fr Sa Su       Mo Tu We Th Fr Sa Su
                   1              1  2  3  4  5                    1  2  3
 2  3  4  5  6  7  8        6  7  8  9 10 11 12        4  5  6  7  8  9 10
 9 10 11 12 13 14 15       13 14 15 16 17 18 19       11 12 13 14 15 16 17
16 17 18 19 20 21 22       20 21 22 23 24 25 26       18 19 20 21 22 23 24
23 24 25 26 27 28 29       27 28 29 30                25 26 27 28 29 30 31
30 31

In [19]:
Q4

import cmath
a=int(input("Enter a = "))
b=int(input("Enter b = "))
c=int(input("Enter c = "))
discriminant = (b**2)-(4*a*c)
sol_one = (-b+cmath.sqrt(discriminant))/(2*a)
sol_two = (-b-cmath.sqrt(discriminant))/(2*a)
print(sol_one ,",", sol_two)

Enter a = 1
Enter b = 5
Enter c = 6
(-2+0j) , (-3+0j)

In [21]:
Q5

first_variable = int(input("First Variable ="))
second_variable = int(input("Second Variable ="))
first_variable,second_variable = second_variable,first_variable
print("After swapping First variable = %i, second variable = %i"%(first_variable,second_variable))

First Variable =20
Second Variable =30
After swapping First variable = 30, second variable = 20